.circle {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    border-radius: 1-px black;
}
.square {
    width: 100px;
    height: 100px;
    background-color: green;
    cursor: pointer;
    border-radius: 10px rgb(17, 113, 34);
    margin: 50px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0,  .2);
}
