body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    margin: 0;
    padding : 0;
    grid-template-columns: 5;
    grid-template-rows: 8;
}

.headnav{
    background-color: rgb(172, 145, 37);
    color: black;
    border: black;
    text-align: center;
    padding: 10px;
    grid-column: span 5;
    grid-row: 1;
}

.image1{
    grid-column: 1;
    grid-row: 2;
    color : rgb(0, 0, 0);
    border: black;
    background-color: rgb(43, 226, 98);
    text-align: center;
    padding: 10px;
}

.image2{
    grid-column: 1;
    grid-row: 2;
    color : rgb(0, 0, 0);
    border: black;
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
}

.text1{
    grid-column: 1;
    grid-row: 2;
    color : rgb(0, 0, 0);
    border: black;
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
}

.text2{
    grid-column: 1;
    grid-row: 2;
    color : rgb(0, 0, 0);
    border: black;
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
}

.downA1{
    grid-column: 1;
    grid-row: 2;
    color : rgb(0, 0, 0);
    border: black;
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
}
.downA2{
    grid-column: 1;
    grid-row: 2;
    color : rgb(0, 0, 0);
    border: black;
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
}
.downA3{
    grid-column: 1;
    grid-row: 2;
    color : rgb(0, 0, 0);
    border: black;
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
}
.downB1{
    grid-column: 1;
    grid-row: 2;
    color : rgb(0, 0, 0);
    border: black;
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
}
.downB2{
    grid-column: 1;
    grid-row: 2;
    color : rgb(0, 0, 0);
    border: black;
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
}
.downB3{
    grid-column: 1;
    grid-row: 2;
    color : rgb(0, 0, 0);
    border: black;
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
}
.pagebreak{
    grid-column: 1;
    grid-row: 2;
    color : rgb(0, 0, 0);
    border: black;
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
}
.revtext{
    grid-column: 1;
    grid-row: 2;
    color : rgb(0, 0, 0);
    border: black;
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
}
.revimg{
    grid-column: 1;
    grid-row: 2;
    color : rgb(0, 0, 0);
    border: black;
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
}